.footerBg{
    background-color: green;
}

.grid {
    display: flex;
    justify-content: center;
  }

  /* .heading2{
        color: "text.primary", 
  } */
  .borderBottom{
    border-bottom: 1px solid #000;
  }

  /* .margintop{
    margin-top: 10;
  } */


  /* .card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
  } */


  .card h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
  
  .card p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 2.5;
    max-width: 30ch;
  }
  
  /* .center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
  } */
  