/* .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 90%; 
   z-index: 2;
    font-family: var(--font-mono);
  } */
.texth4{
  margin-top: 6rem;
  font-size:2rem;
  font-weight: bold;
}


.texth2{
  margin-top: 1rem;
  font-size:3rem;
  color:#fff;
  margin-bottom: 20px;
  /* font-weight:bolder; */
}

.span{
  display: block;
  font-size:4rem;
  color: blue;
}


.texthA{
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: blue;
  padding: 13px 11px 13px 26px;
  color: #fff;
  display: inline-block;
  line-height: 29px;
}

.picon{  margin-left: 1rem;
}

  .grid {
    display: flex;
    justify-content:space-evenly;
  }


  /* .text{
    margin-top: 2rem;
    color: aliceblue;
  
  } */


  .logo{
    padding-left: 60px;
  }