
  .siteTitle{
    text-decoration: none;
    list-style-type: none;
  }

.navigationMenu{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    
  
}


.navigationMenu li{
    text-decoration: none;
    list-style-type: none;
    color: rgb(243, 17, 17);
}


.navigationMenuLi{
    display: flex;
    margin: 0px 10px;
    text-decoration: none;
    list-style-type: none;
    color: rgb(243, 17, 17);
  
}


.search{
    color: aliceblue;
}

.subMenuUl{
    background-color: #f2e0e0;
    position: absolute;
    top: 3.5rem;
    left: 0;
    min-width: 180px;
    height: 150px;
    padding-right: 9px;
    padding-left: 8px;
    margin-left: 350px;
    /* color: black; */
    /* overflow: hidden; */
    text-decoration: none;
    list-style-type: none;
    color:rgb(207, 5, 5); 
    overflow: hidden;


}

.subcatmenuLi{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-right: 3px;
    padding-left: 3px;
    opacity: 0.9;
    transition: .5s ease;
    border-radius: 25px;
    overflow: hidden;
    text-decoration: none;
    list-style-type: none;
    color:#000

/* color: black; */
   
}
/* .subMenuUl .subcatmenu Link{
    color: black;
} */
.subcatmenuLi:hover{
    background-color: rgb(74, 9, 253);
}





.mobMenuLi{
    position: relative;

    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5;
    padding-right: 5px;
    position: relative;
    flex-direction: column;

}

/* @media (max-width: 575px) {
    .mobileMenu {
        display: block;
        color: #000;
    } */
    
  /* } */

  .mobMenu{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    position: absolute;
    background-color: #fff;
    color: black;

}

  @media (min-width: 375px) {
    .mobileMenu {
        display: block;
        color: #000;
    }
  }
  @media (min-width: 576px) {
    .mobileMenu {
        display: block;
        color: #000;
    }
  }
   @media (min-width: 768px) {
    .mobileMenu {
        display: block;
        color: #000;
    }
  }
  
  @media (min-width: 1000) {
    .mobileMenu {
        display: block;
        color: #000;
    }
  } 
  @media (min-width: 1200px) {
    .mobileMenu {
        display: none;
    }
  } 