
  

.navigationMenu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
  
}


.navigationMenuLi{
    margin: 0px 10px;
    text-decoration: none;
}


.search{
    color: aliceblue;
}

.subMenuUl{
    background-color: #f3e2e2;
    position: absolute;
    top: 3.5rem;
    left: 0;
    min-width: 180px;
 height: 150px;
    padding-right: 9px;
    padding-left: 8px;
    margin-left: 350px;
    /* color: black; */
    /* overflow: hidden; */

}

.subcatmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-right: 3px;
    padding-left: 3px;
    opacity: 0.03;
    border-radius: 25px;
    overflow: hidden;
/* color: black; */
   
}
/* .subMenuUl .subcatmenu Link{
    color: black;
} */
.subcatmenu:hover{
    background-color: rgb(253, 9, 9);
}



.mobMenu{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    position: absolute;
    background-color: #fff;
    color: black;

}

.mobMenuLi{
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5;
    padding-right: 5px;
    position: relative;
    flex-direction: column;

}
