.footerBg {
  background-color: green;
}

.grid {
  display: flex;
  justify-content: center;
}

.borderBottom {
  border-bottom: 1px solid #000;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 2.5;
  max-width: 30ch;
}
