.grid {
  
    display: flex;
    justify-content: center;
  }


.marginbottom{
    margin-bottom: 3px;
}


.flexx{
  display: flex;
  justify-content: space-around;
}



.hcolor{
  color:#fff;text-align: center;
}


.mleft{
  margin-left: 10px;
}

.text{
  font-size:1.5rem;
  font-weight: bold;
}


.cateCard{
  display:flex;
  background-color: #7997CE;
  border-bottom: 6px;
  border-color: #DADCE0;
  padding: 2
}



.cateButton{
 background-color: #fff;
  display:flex;
  justify-content: center;
  padding:10px;
 justify-content: center;
}